.app-bar {
  background-color: #2e3a46;
}

.app-bar-home {
  border: 0px solid transparent;
  width: 80px;
  height: 80px;
  background-image: url('../../images/icon3.png');
  background-size: contain;
}